.container, .data-container {
	margin-top: 20px; 
}

.data-container {
	margin-bottom: 30px;
}

.logo-image {
	width: 30px;
	float: left;
	margin-right: 10px; 
}

.logo-title {
	float: left;
}

.post-description {
	float: left;
	margin-left: 10px;
}

.post-image {
	float: left;
}

.clearfix {
	overflow: auto;
}