.container, .data-container {
	margin-top: 20px; 
}

.data-container {
	margin-bottom: 30px;
}

.logo-image {
	width: 30px;
	float: left;
	margin-right: 10px; 
}

.logo-title {
	float: left;
}

.post-description {
	float: left;
	margin-left: 10px;
	width: 60%;
}

.post-image {
	float: left;
}

.clearfix {
	overflow: auto;
}

.error-container {
	text-align: center;
}

.error-image {
	width: 40%;
	margin: 0 auto;
}

.post-item {
	cursor: pointer;
}

.post-item-image {
	width: 100%;
    padding: 10px;
}

.post-item-btn-close {
	position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;

}

form .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
	z-index: 0;
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
	z-index: 0;
}

.ModalClass {
    position: absolute;
    top: 0px;
    left: 20%;
    right: 20%;
    bottom: 0px;
    border: 2px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }

  .OverlayClass {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(225, 225, 225, 0.6);
    transition: all 1s;
  }
